<div class="d-flex justify-content-end mt-3 mr-5">
  <%= render 'public/searches/search' %>
</div>
<div class='container'>
  <div class='row align-items-start'>
    <div class='col-md-3'>
      <h2>タグ検索</h2>
        <%= render 'public/tags/search' %>
        <%= render 'public/genres/search', genres: @genres %>
      </div>

    <table class='col-md-8 offset-md-1 table-striped'>
      <% @articles.each do |article| %>
        <tr class="mx-3 my-3">
          <td>
            <%= link_to admin_article_path(article) do %>
            <%= article.question %>
            <% end %>
            <div class = "d-flex justify-content-end">
              <%= article.favorites.count %>
              <%= article.unfavorites.count %>
            </div>
          </td>
        </tr>
      <% end %>
        <tr style="font-size:15px; line-height: 2;">
          <td>
            <%= paginate @articles %>
          </td>
        </tr>
        <tr style="font-size:15px; line-height: 2;">
          <td>
            (全<%= @articles_count %>件)
          </td>
        </tr>
    </table>
  </div>
</div>
