<h1>Admin::Articles#show</h1>
<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>user info</h2>
      <%= render 'public/users/info', user: @article.user %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>article detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@article.user) do %>
            <%= @article.user.nickname %>
            <% end %>
          </td>
          <td><%= link_to @article.question, @article %></td>
          <td><%= @article.answer %></td>
          <td>コメント件数：<%= @article.article_comments.count %></td>
          <td><%= link_to 'Destroy', @article, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
        </tr>
      </table>
      <table>
        <tr><td>
          <div id =  "com-field" ><%= render 'admin/article_comments/article-com', article: @article %></div></td>
        </tr>
          <%= render 'public/article_comments/article-com-new', article: @article, article_comment: @article_comment %>
      </table>
    </div>
  </div>
</div>