<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>user info</h2>
      <%= render 'admin/users/info', user: @article.user %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>article detail</h2>
  		<table class='table'>
  		  <tr>
          <td>
            <%= @article.question %>
          </td>
          <td>
            <%= @article.answer %>
          </td>
          <td>
            <%= link_to admin_user_path(@article.user) do %>
              <%= @article.user.nickname %>
            <% end %>
          </td>
          <td>
            コメント件数：<%= @article.article_comments.count %>
          </td>
          <td>
            <%= link_to 'Destroy', admin_article_path(@article), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= render 'admin/article_comments/article-com', article: @article %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>