<style>
  li{
    list-style:none;
    }
</style>
<div class="container">
  <% if @genre.errors.any? %>
    <tr>
      <td></td>
      <td>
        <%= @genre.errors.count %>件のエラーが発生しました
        <ul class="list-group list-unstyled">
          <% @genre.errors.full_messages.each do |message| %>
            <li class="text-danger"><%= message %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
  <div class="mt-4">
    <div class="col-md-8">

      <h4><span class="bg-light">ジャンル一覧・追加<span></h4>
      <div class="mt-4">
        <!--ジャンル名登録フォーム-->

          <%= form_with model: @genre, url: admin_genres_path, local:true do |f| %>
          <ul class="d-flex">
            <li class="mr-5"><%= f.label :name, 'ジャンル名' %></li>
            <li class="mr-5"><%= f.text_field :name %></li>
            <li><%= f.submit '新規登録', class:"btn btn-sm btn-success pt-1 pb-1 px-4" %></li>
          </ul>
          <% end %>

      </div>

      <!--既に登録されているジャンルのリスト-->
      <div class="col-8 mt-4">
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th>ジャンル</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @genres.each do |genre| %>
            <tr>
              <td><p><%= genre.name %></p></td>
              <td><%= link_to '編集する', edit_admin_genre_path(genre.id), class: "btn btn-success" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>