<h3>ジャンル検索</h3>
<% genres.each do |genre|%>
  <% if user_signed_in?%>
    <div class="ml-2">
      <%= link_to genre_path(genre.id) do %>
        <!--ジャンル名(投稿数)と表示-->
        <%= genre.name %>(<%= genre.articles.count %>)
      <% end %>
    </div>
  <% elsif admin_signed_in? %>
    <div class="ml-2">
      <%= link_to admin_genre_path(genre.id) do %>
        <%= genre.name %>(<%= genre.articles.count %>)
      <% end %>
    </div>
  <% end %>
<% end %>
