<%= render 'public/searches/search' %>
<div class='container'>
  <div class='row align-items-start'>
    <div class='col-md-3'>
      <h2>タグ検索</h2>
    <%= render 'public/tags/search' %>
    <%= render 'public/genres/search', genres: @genres %>
    </div>
    <table class='col-md-8 offset-md-1 table-striped'>
      <% @articles.each do |article| %>
        <tr class="mx-3 my-3">
          <td>
            <%= link_to article_path(article) do %>
            <%= article.question %>
            <% end %>
            <div class = "d-flex justify-content-end">
              <%= render 'public/favorites/button', article: article %>
              <%= render 'public/unfavorites/button', article: article %>
            </div>
          </td>
        </tr>
      <% end %>
      <tr style="font-size:15px; line-height: 2;"><td><%= paginate @articles %></td></tr>
      <tr style="font-size:15px; line-height: 2;"><td>(全<%= @articles_count %>件)</td></tr>
    </table>
  </div>
</div>
