<div class="d-flex justify-content-end mt-3 mr-5">
  <%= render 'public/searches/search' %>
</div>
<div class='container'>
<div class='row'>
<div class='col-md-3'>
  <h2>タグ検索</h2>
  <div class='border'>
  <%= form_tag({controller:"articles",action:"index"}, method: :get) do %>
    <% Tag.all.each do |t| %>
        <ul><%= check_box :tag_ids, t.name %><%= t.name %></ul>
    <% end %>
    <%= submit_tag '検索' %>
  </div>
  <% end %>

  <%= render 'public/genres/search', genres: @genres %>
</div>

<div class='col-md-8 offset-md-1'>
 <% @articles.each do |article| %>
          <div class="mx-3 my-3">
            <%= link_to article_path(article) do %>
            <%= article.question %>
            <% end %>
            <div class = "d-flex justify-content-end">
              <%= render 'public/favorites/button', article: article %>
              <%= render 'public/unfavorites/button', article: article %>
            </div>

          </div>
        <% end %>
        <p style="font-size:15px; line-height: 2;">(全<%= @articles.count %>件)</p>
    </div>
  </div>
</div>