<div class="d-flex justify-content-end mt-3 mr-5">
  <%= render 'public/searches/search' %>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>タグ検索</h2>
      <%= render 'public/tags/search' %>
      <%= render 'public/genres/search', genres: @genres %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>投稿</h2>
  		<table class='table'>
  		  <tr>
  		    <td><%= link_to @article.question, @article %></td>
          <td><%= @article.genre.name %></td>
          <td><% @article.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
          </td>
          <td><%= link_to(@article.user) do %>
            <%= @article.user.nickname %>
            <% end %>
          </td>
          <td><div class = "favorite-btn-<%= @article.id %>">
            <%= render 'public/favorites/button', article: @article %></div>
          <td><div class = "unfavorite-btn-<%= @article.id %>">
            <%= render 'public/unfavorites/button', article: @article %></div>
          </td>

          <% if @article.user == current_user %>
            <td><%= link_to 'Destroy', @article, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
        <tr>
          <td>コメント(100文字まで)：<%= @article.article_comments.count %></td>
        </tr>
        <tr>
          <td><%= @article.answer %></td>
        </tr>
      </table>
      <% @article.tags.each do |tag| %>
        <span><%= tag.name %></span>
      <% end %>
      <table>
        <tr><td>
          <div id =  "com-field" ><%= render 'public/article_comments/article-com', article: @article %></div></td>
        </tr>
          <%= render 'public/article_comments/article-com-new', article: @article, article_comment: @article_comment %>
      </table>
    </div>
  </div>
</div>