<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>user info</h2>
      <%= render 'public/users/info', user: @article.user %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>article detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@article.user) do %>
            <%= @article.user.nickname %>
            <% end %>
          </td>
          <td><%= @article.genre.name %></td>
          <td><%= link_to @article.question, @article %></td>
          <td><%= @article.answer %></td>
          <td><div class = "favorite-btn-<%= @article.id %>">
            <%= render 'public/favorites/button', article: @article %></div>
          <td><div class = "unfavorite-btn-<%= @article.id %>">
            <%= render 'public/unfavorites/button', article: @article %></div>
          </td>
          <td>
            コメント件数：<%= @article.article_comments.count %>
          </td>

          <% if @article.user == current_user %>
            <td><%= link_to 'Edit', edit_article_path(@article), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @article, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>
      <% @article.tags.each do |tag| %>
        <span><%= tag.name %></span>
      <% end %>
      <table>
        <tr><td>
          <div id =  "com-field" ><%= render 'public/article_comments/article-com', article: @article %></div></td>
        </tr>
          <%= render 'public/article_comments/article-com-new', article: @article, article_comment: @article_comment %>
      </table>
    </div>
  </div>
</div>