<%= render 'public/searches/search' %>
<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/tags/search' %>
      <%= render 'public/genres/search', genres: @genres %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<div class='row'>
        <h2 class='col-2'>
          投稿
        </h2>
        <div class='col-2 mt-2'>
    		  <% if @article.user == current_user %>
            <%= link_to 'Destroy', @article, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
          <% end %>
  		  </div>
  		  <div class="col-4 mt-3">
  		    <div class = "favorite-btn-<%= @article.id %>">
            <%= render 'public/favorites/button', article: @article %>
          </div>
          <div class = "unfavorite-btn-<%= @article.id %>">
            <%= render 'public/unfavorites/button', article: @article %>
          </div>
        </div>
  		  <div class="col-4 mt-3">
            <%= link_to(@article.user) do %>
              <i class="fas fa-user"></i>
              <%= @article.user.nickname %>
            <% end %>
        </div>
      </div>
      <table class='table'>
  		  <tr>
  		    <td>
  		      <%= @article.question %>
  		    </td>
          <td>
            <%= @article.genre.name %>
          </td>
          <td>
            <i class="fas fa-tags"></i>
            <% @article.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </td>
        </tr>
        <% if @article.answer.present? %>
          <tr>
            <td style="border:none;">
              <a data-toggle="collapse" href="#collapse1">答えを見る</a>
                <div id="collapse1" class="panel-collapse collapse">
                  <div>
                    <%= @article.answer %>
                  </div>
                </div>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            コメント件数：<%= @article.article_comments.count %>　(100文字まで)
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <div><%= render 'public/article_comments/article-com', article: @article %></div>
          </td>
        </tr>
          <%= render 'public/article_comments/article-com-new', article: @article, article_comment: @article_comment %>
      </table>
    </div>
  </div>
</div>