<div class="d-flex justify-content-end mt-3 mr-5">
  <%= render 'public/searches/search' %>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>タグ検索</h2>
      <%= render 'public/tags/search' %>
      <%= render 'public/genres/search', genres: @genres %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>投稿</h2>
  		<table class='table'>
  		  <tr>
  		    <td><%= @article.question %></td>
          <td><%= @article.genre.name %></td>
          <td><% @article.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
          </td>
          <td><%= link_to(@article.user) do %>
            <%= @article.user.nickname %>
            <% end %>
          </td>

          <% if @article.user == current_user %>
            <td><%= link_to 'Destroy', @article, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
        <tr>
          <td class="panel-group" style="border:none;">
              <h6>
                <a data-toggle="collapse" href="#collapse1">答えを見る</a>
              </h6>
              <div id="collapse1" class="panel-collapse collapse">
                <div><%= @article.answer %></div>
              </div>
          </td>
        </tr>
        <tr>
          <td>コメント件数：<%= @article.article_comments.count %>　(100文字まで)</td>
          <td>
            <%= render 'public/favorites/button', article: @article %>
            <%= render 'public/unfavorites/button', article: @article %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <div id =  "com-field" ><%= render 'public/article_comments/article-com', article: @article %></div>
          </td>
        </tr>
          <%= render 'public/article_comments/article-com-new', article: @article, article_comment: @article_comment %>
      </table>
    </div>
  </div>
</div>