<div class="container">
  <div class="row">
    <div class="col-lg-8 my-3">
   <h3 class="mt-2"><%= @user.nickname %>さんの会員情報編集</h3>
    <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
      <table class="table table-borderless offset-2">
        <tbody>
          <tr>
            <th>会員id</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th>氏名</th>
            <td><%= @user.nickname %></td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <td><%= @user.introduction %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email  %></td>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <td>
              <%= f.radio_button :is_deleted, false %>
              <%= f.label :is_deleted, "有効", value: false %>
              <%= f.radio_button :is_deleted, true %>
              <%= f.label :is_deleted, "退会", value: true %>
            </td>
          </tr>
          <tr>
            <th></th>
            <td><%= f.submit "変更を保存", class:'btn btn-success  inline-block px-4' %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
    </div>
  </div>
</div>