<div class="container">
  <div class="row">
    <div class="col-lg-8 my-3 offset-2">
      <h3><%= @user.nickname %>さんの会員詳細</h3>
       <table class="table table-borderless">
        <tbody>
          <tr>
            <th style="width: 150px">会員ID</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th style="width: 150px">氏名</th>
            <td><%= @user.nickname %></td>
          </tr>
          <tr>
            <th style="width: 150px">メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th style="width: 150px" class="align-middle">会員ステータス</th>
             <td>
               <% if @user.is_deleted %>
                <p class="text-muted font-weight-bold align-middle">退会</p>
               <% else %>
                <p class="text-success font-weight-bold align-middle">有効</p>
               <% end %>
             </td>
          </tr>
        </tbody>
       </table>
      <div class="offset-md-3">
        <%= link_to "編集する", edit_admin_user_path(@user.id), class: "btn btn-success mr-5 inline-block" %>
        <%= link_to "投稿を見る", admin_article_path, class: "btn btn-primary me-auto inline-block" %>
      </div>
    </div>
  </div>
</div>