<div class="container">
  <div class="row">
    <div class="col-lg-8 my-3 offset-2">
      <h3><%= @user.nickname %>さんの会員詳細</h3>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th style="width: 150px">会員ID</th>
            <th><%= @user.id %></th>
          </tr>
          <tr>
            <th style="width: 150px">氏名</th>
            <th><%= @user.nickname %></th>
          </tr>
          <tr>
            <th style="width: 150px">メールアドレス</th>
            <th><%= @user.email %></th>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <th>
              <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
                <%= f.radio_button :is_deleted, false %>
                <%= f.label :is_deleted, "有効　", value: false %>
                <%= f.radio_button :is_deleted, true %>
                <%= f.label :is_deleted, "退会　", value: true %>
              <%= f.submit "変更を保存", class:'btn btn-success  inline-block px-4' %>
              <% end %>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>