<div class="container-lg mt-5 mx-auto" style="width: 750px;">
 <style>
  .field{margin-bottom: 10px}
  dt{
   width: 30%;
   font-weight: normal;
   }
  dd{width:70%;}
 </style>
 <h4 class="mb-5"><span class="bg-light">ユーザーログイン</span></h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <%= render "public/shared/error_messages", resource: resource %>
     <div class="field d-flex">
      <dt><%= f.label :"メールアドレス" %></dt>
      <dd><%= f.email_field :email, autofocus: true, autocomplete: "email" %></dd>
     </div>
     <div class="field d-flex">
      <dt><%= f.label :"パスワード" %></dt>
      <dd><%= f.password_field :password, autocomplete: "current-password" %></dd>
    </div>
    <div class="field d-flex">
      <%= f.submit "ログイン" %>
    </div>
 <% end %>
 <h5 class="mt-5">
  <span class="bg-light">新規会員登録は<%= render "public/shared/links" %>からお願いします。
  </span>
 </h5>

