<div class='container'>
<div class='row'>
<div class='col-md-3'>
  <h2>user info</h2>
  <%= render 'info', user: @user %>
  <%=link_to"お気に入り記事",favorites_user_path(@user) %><br>
  <% if @user.id == current_user.id %>
    <%= link_to "退会する", confirm_path(@user) %>
  <% end %>
</div>
<div class='col-md-8 offset-md-1'>
 <% @articles.each do |article| %>
          <div class="mx-3 my-3">
            <%= link_to article_path(article) do %>
            <%= article.question %><br>
            <% end %><br>
            <div class = "favorite-btn-<%= article.id %>"></div>
            <%= render 'public/favorites/button', article: article %>
            <div class = "unfavorite-btn-<%= article.id %>"></div>
            <%= render 'public/unfavorites/button', article: article %>
          </div>
        <% end %>
    </div>
  </div>
</div>