<!DOCTYPE html>
<html>
  <head>
    <title>Zatumame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <br>
      <%= render 'public/searches/search' %>

    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "投稿", new_article_path %>
      <%= link_to "一覧", articles_path %>
      <%= link_to "マイページ", user_path(current_user)  %>
    <% elsif admin_signed_in? %>
      <%= link_to "商品一覧", admin_articles_path %>
      <%= link_to "会員一覧", admin_users_path %>
      <%= link_to "注文履歴一覧", admin_root_path %>
      <%= link_to "ジャンル一覧", admin_genres_path %>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
    <% else %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
       <%= link_to "投稿", new_article_path %>
       <%= link_to "一覧", articles_path %>

    <% end %>
    </header>
    <%= yield %>
  </body>
</html>
