<!DOCTYPE html>
<html>
  <head>
    <title>Zatumame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <br>
      <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "投稿", new_article_path %>
      <%= link_to "一覧", articles_path %>
      <%= link_to "マイページ", user_path(current_user)  %>
    <% elsif admin_signed_in? %>
      <%= link_to "商品一覧", admin_articles_path %>
      <%= link_to "会員一覧", admin_users_path %>
      <%= link_to "注文履歴一覧", admin_root_path %>
      <%= link_to "ジャンル一覧", admin_genres_path %>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
    <% else %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
       <%= link_to "投稿", new_article_path %>
       <%= link_to "一覧", articles_path %>
    <% end %>
    <%= render 'public/searches/search' %>


<!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item px-3 my-auto h5">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
          <li class="nav-item px-3 my-auto h5">
            <%= link_to "投稿", new_article_path %>
          </li>
          <li class="nav-item px-3 my-auto h5">
            <%= link_to "一覧", articles_path %>
          </li>
          <li class="nav-item px-3 my-auto h5">
            <%= link_to "マイページ", user_path(current_user)  %>
          </li>
        <% elsif admin_signed_in? %>
          <li class="nav-item px-3 my-auto h5">
            <%= link_to "商品一覧", admin_articles_path %>
          </li>
          <li class="nav-item px-3 my-auto h5">
            <%= link_to "会員一覧", admin_users_path %>
          </li>
          <li class="nav-item px-3 my-auto h5">
            <%= link_to "注文履歴一覧", admin_root_path %>
          </li>
          <li class="nav-item px-3 my-auto h5">
            <%= link_to "ジャンル一覧", admin_genres_path %>
          </li>
          <li class="nav-item px-3 my-auto h5">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="nav-item px-3 my-auto h5">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
          <li class="nav-item px-3 my-auto h5">
            <%= link_to "投稿", new_article_path %>
          </li>
          <li class="nav-item px-3 my-auto h5">
            <%= link_to "一覧", articles_path %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>

    </header>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
